@{
    ViewData["Title"] = "Faq";

}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="~/css/style-faq.css">
</head>

<body>
    <main>
        <nav>
            <ul>
                <li><a href='@Url.Action("Index", "Home")'>Home</a></li>
            </ul>
            <img src="~/img/Sem Título-1.png" alt="Logo">
        </nav>
        <br>
        <section class="inicial">
            <h1>Perguntas Frequentes</h1>
            <br>
            <section class="perguntas">
                <div>
                    <img src="~/img/semfoto.jfif" alt="..." class="semft">
                </div>
                <div>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique necessitatibus
                        illum
                        ipsum iure officiis dolor voluptate tempora ea, rem laudantium culpa deserunt voluptas id
                        incidunt
                        eos minus quidem. Temporibus?</p>
                </div>
            </section>
            <br>
            <section class="perguntas">
                <div>
                    <img src="~/img/semfoto.jfif" alt="..." class="semft">
                </div>
                <div>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique necessitatibus
                        illum
                        ipsum iure officiis dolor voluptate tempora ea, rem laudantium culpa deserunt voluptas id
                        incidunt
                        eos minus quidem. Temporibus?</p>
                </div>
            </section>
            <br>
            <section class="perguntas">
                <div>
                    <img src="~/img/semfoto.jfif" alt="..." class="semft">
                </div>
                <div>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique necessitatibus
                        illum
                        ipsum iure officiis dolor voluptate tempora ea, rem laudantium culpa deserunt voluptas id
                        incidunt
                        eos minus quidem. Temporibus?</p>
                </div>
            </section>
            <br>
            </form>
        </section>
        
    </main>

</body>

</html>