@{
    ViewData["Title"] = "Produtos";
}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produto</title>
    <link rel="stylesheet" href="~/css/produto.css">
</head>

<body>
    <main>
        <nav>
            <ul>
                <li><a href='@Url.Action("Index", "Home")'>Home</a></li>
            </ul>
            <img src="~/img/Sem Título-1.png" alt="Logo">
        </nav>
        <br>
        <br>
        <section id="produto">
            <div class="retangulo"></div>
            <h2>Produto</h2>
            <div class="ppp">
                <div class="texto1">
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor molestias quaerat totam saepe
                        iustodicta
                        sed porro optio, velit deleniti numquam fugiat praesentium veritatis deserunt repellat eos ex
                        reprehenderit
                        facere. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, rem blanditiis! Maxime
                        dolorem quae
                        nam quasi totam architecto laborum tempora quibusdam, sapiente debitis inventore harum est
                        fugit
                        animi
                        dicta ullam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque odio ratione
                        atque,
                        sunt optio
                        doloremque. Doloremque, ipsum. Necessitatibus quos nobis iure, nesciunt eligendi qui magni
                        nihil
                        reiciendis
                        nisi ea maiores! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, quidem culpa ab
                        aperiam
                        reprehenderit atque repellat amet dolor esse doloribus aspernatur assumenda animi eaque et.
                        Ratione
                        corporis repellendus eum esse. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Quibusdam
                        ab
                        consequatur perspiciatis iusto error magnam totam repellat pariatur fuga, suscipit dolorum
                        dolor
                        maiores
                        incidunt nulla culpa possimus cupiditate asperiores aperiam. Lorem ipsum dolor sit amet
                        consectetur
                        adipisicing elit. Ipsa illum eum laboriosam, voluptatem nostrum hic quis facilis est
                        voluptatibus
                        nobis quo
                        porro esse aut rem adipisci maxime dolor alias. Aliquid. Lorem ipsum dolor sit amet,
                        consectetur
                        adipisicing elit. Similique ratione, culpa facere omnis veniam fuga reiciendis dignissimos.
                        Nemo,
                        illum
                        beatae explicabo quasi harum, facilis rerum et doloremque laborum, vero consequuntur. Lorem,
                        ipsum
                        dolor
                        sit amet consectetur adipisicing elit. Eos laudantium, rem cupiditate voluptas nobis sequi
                        ipsam
                        asperiores
                        et earum doloremque minima, fugit alias corporis, perferendis quia non corrupti. Sit, facere.
                        Lorem
                        ipsum
                        dolor sit amet consectetur adipisicing elit. Obcaecati asperiores debitis, iusto veniam eos
                        quibusdam
                        .incidunt perspiciatis nisi aut! Odit excepturi nulla labore reprehenderit nam qui porro
                        explicabo
                        minus
                        placeat.incidunt perspiciatis nisi aut! Odit excepturi nulla labore reprehenderit nam qui porro
                        explicabo
                        minus
                        placeat</p>
                </div>
                <div class="imagem">
                    <img src="~/img/pc.png" alt="" class="img">
                </div>
            </div>
            <p class="texpp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor molestias quaerat totam saepe
                    iustodicta
                    sed porro optio, velit deleniti numquam fugiat praesentium veritatis deserunt repellat eos ex
                    reprehenderit
                    facere. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, rem blanditiis! Maxime
                    dolorem quae
                    nam quasi totam architecto laborum tempora quibusdam, sapiente debitis inventore harum est
                    fugit
                    animi
                    dicta ullam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque odio ratione
                    atque,
                    sunt optio
                    doloremque. Doloremque, ipsum. Necessitatibus quos nobis iure, nesciunt eligendi qui magni
                    nihil
                    reiciendis
                    nisi ea maiores! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, quidem culpa ab
                    aperiam
                    reprehenderit atque repellat amet dolor esse doloribus aspernatur assumenda animi eaque et.
                    Ratione
                    corporis repellendus eum esse. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Quibusdam
                    ab
                    consequatur perspiciatis iusto error magnam totam repellat pariatur fuga, suscipit dolorum
                    dolor
                    maiores
                    incidunt nulla culpa possimus cupiditate asperiores aperiam. Lorem ipsum dolor sit amet
                    consectetur
                    adipisicing elit. Ipsa illum eum laboriosam, voluptatem nostrum hic quis facilis est
                    voluptatibus
                    nobis quo
                    porro esse aut rem adipisci maxime dolor alias. Aliquid. Lorem ipsum dolor sit amet,
                    consectetur
                    adipisicing elit. Similique ratione, culpa facere omnis veniam fuga reiciendis dignissimos.
                    Nemo,
                    illum
                    beatae explicabo quasi harum, facilis rerum et doloremque laborum, vero consequuntur. Lorem,
                    ipsum
                    dolor
                    sit amet consectetur adipisicing elit. Eos laudantium, rem cupiditate voluptas nobis sequi
                    ipsam
                    asperiores
                    et earum doloremque minima, fugit alias corporis, perferendis quia non corrupti. Sit, facere.
                    </p>
        </section>
    </main>
</body>

</html>