@{
        ViewData["Title"] = "Solução De Problemas";
}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Solução de Problema</title>
    <link rel="stylesheet" href="~/css/solucao.css">
</head>

<body>
    <main>
        <nav>
            <ul>
                <li><a href='@Url.Action("Index", "Home")'>Home</a></li>
            </ul>
            <img src="~/img/Sem Título-1.png" alt="Logo">
        </nav>
        <br>
        <br>
        <div class="problema">
            <h2>Solução de Problema</h2>
            <div class="solucao">
                <br>
                <label for="">Qual o problema?</label>
                <br>
                <textarea name="ss"cols="30" rows="30"></textarea>

            </div>

        </div>
    </main>

</body>
</html>